<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="google.jsapi.key" value="ABQIAAAA3J7YV9fLOyRoeUynvgO_UhT4nU9UmX8fO3JKCMbP2P4-6vOKCBQ8fBU-C44bfFr_CZrSF6e7oJvgOQ"></add>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </modules>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper.Web"/>
        <add tagPrefix="Tests"
             namespace="IntelliFactory.WebSharper.Google.Visualization.Tests"
             assembly="IntelliFactory.WebSharper.Google.Visualization.Tests"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
